@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}
:root{
    --text-color: #697CA6;
    --text-color-active: #5E81FE;
    --btn-bg-color: #D2E1FF;
    --btn-color: #3A79FF;
}

.container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}
header{  
    border-bottom: .125rem solid rgba(216,227,254,.6);
}
header .container{
    height: 80px;
}

/* left side header */

header .left-section{
    display: flex;
    align-items: center;
    gap: 40px;
}
.left-section .logo{
    border-radius: 100%;
    width: 25px;
    height: 25px;
    background-color: #5E81FE;
}
.left-section .menu{
    display: flex;
    list-style: none;
    gap: 2em;
    font-size: 14px;
    font-weight: 500;
}
.menu a{
    color: var(--text-color);
    transition: all 0.3s ease;
}
.menu a:hover{
    color: var(--text-color-active);
}

/* right side header */

header .right-section{
    display: flex;
    align-items: center;
    gap: 40px;
}
.right-section .media{
    display: flex;
    list-style: none;
    gap: 2em;
    font-size: 20px;
    font-weight: 500;
}
.media a{
    color: var(--text-color);
    transition: all 0.3s ease;
}
.media a:hover{
    color: var(--text-color-active);
}

.btn{
    border: 0;
    padding: 1em;
    border-radius: 2px;
    background-color: var(--btn-bg-color);
    color: var(--btn-color);
    font-size: 14px;
    cursor: pointer;
    font-weight: 700;
    transition: all .3s ease;
}
.btn:hover{
    background-color: var(--btn-color);
    color: #fff;
}


.main{
    margin: auto;
}

/* hero */

.hero{
    position: relative;
    display: grid;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.hero-txt{
    text-align: center;
    margin: auto;
    padding: 2rem;
}
.hero-txt h3{
    font-size: 12px;
    padding-bottom: 2rem;
    color: #3D4F9F;
}
.hero-txt h2{
    font-size: 48px;
    font-weight: 300;
    color: #3D4F9F;
    padding-bottom: 2rem;
}
.hero-txt h2 span{
    color: #3D4F9F;
    font-weight: 800;
    
}
.hero-txt p{
    max-width: 500px;
    margin: auto;
    color: #8D96BD;
    font-weight: 400;
}
.play{
    border-radius: 100%;
    background-color: #FFFFFF;
    width: 25px;
    height: 25px;
    align-items: center;
    margin: auto;
}
.play i{
    background-color: transparent;
    border-radius: 100%;
    margin: auto;
    padding: 0.5rem;
    color: #3D4F9F;
}
.play i:hover{
    background-color: var(--text-color);
}
.clients{
    display: flex;
    max-width: 1200px;
    margin: auto;
    list-style: none;
    justify-content: space-between;
    margin-top: 3rem;
    cursor: pointer;
}
